<section class="details">
    <div class="container">
      <div class="row details-set text-center">
        <div class="col-lg-4 col-md-4">
          <h4>Confirmed Cases</h4>
          <h3 class="confirmed-cases "><%= local_total_cases %></h3>
          <h5> <span class="confirmed-cases-new "><%= local_new_cases %></span> new cases </h5>
        </div>
        <div class="col-lg-4 col-md-4">
          <h4>Deaths</h4>
          <h3 class="deaths "><%= local_deaths %></h3>
          <h5><span class="confirmed-deaths-new " ><%= local_new_deaths %>  </span> new deaths </h5>
        </div>
        <div class="col-lg-4 col-md-4">
          <h4>Recovered</h4>
          <h3 class="recovered"><%= local_recovered %> </h3>
          <h5> <span class="recovered-new"><%= local_active_cases %> </span> active cases </h5>

        </div>

      </div>

    </div>




  </section>
